<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Lista de familiares</h1>
        {% for family_member in family_members %}
            <p>{{ family_member.name }}</p>
            <li>DNI: {{ family_member.dni }}</li>
            <li>Fecha de Nacimiento: {{ family_member.birth_date }}</li>
        {% endfor %}
    </body>
</html>
